JP_Scraper/lib
Include
Lib
Scripts
pip-selfcheck.json
*.pyd
*.dll
*.exe
*.py
*.pyc
*.pyc
*.pyc
*.pyc
Lib/site-packages/__pycache__/cycler.cpython-37.pyc
Lib/site-packages/Babel-2.7.0.dist-info/INSTALLER
